.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination_btns {
    border-radius: 50%;
    cursor: pointer;
    margin: 0 20px;
    height: 40px;
    width: 40px;
}

.page_count {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #032541;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
}