/* #CORE---------------------------------------------------- */
:root {
    --color-primary: #032541;
    --color-linear: linear-gradient(to right, #24e3c0, #05a6ca);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    padding: 0 4vmax;
}


/* #NAVBAR--------------------------------------------- */

nav {
    width: 100%;
    padding: 1rem 7rem;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;

    >.nav-prt1 {
        display: flex;
        align-items: center;

        >.logo {
            display: flex;
            align-items: center;

            >h1 {
                font-weight: 800;
                background: var(--color-linear);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: 2px;
            }

            >.logo-inner {
                height: 20px;
                width: 60px;
                background: var(--color-linear);
                border-radius: 100px;
                margin-left: 10px;
            }
        }

        >a {
            margin: 0 20px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            font-size: .9rem;
        }
    }

    >.nav-prt2 {
        >a {
            margin: 0 20px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            font-size: .9rem;
        }
    }
}

/* #SEARCH HEADER--------------------------------------------- */

.search-header {
    height: 20vmax;
    background: url(../public/search-header-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 3vmax;

    >.inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;

        >h1 {
            color: white;
            font-size: 3.5vmax;
            font-weight: 700;
        }

        >h4 {
            color: white;
            font-size: 2vmax;
            font-weight: 600;
        }

        >.search-box {
            width: 100%;
            display: flex;
            overflow: hidden;
            margin-top: 3vmax;
            position: relative;

            >input {
                width: 100%;
                border: none;
                outline: none;
                border-radius: 100px;
                padding: .75vmax 1.5vmax;
            }

            >button {
                background: var(--color-linear);
                border: none;
                outline: none;
                color: white;
                font-weight: 700;
                cursor: pointer;
                position: absolute;
                right: 0%;
                height: 100%;
                padding: 0 2vmax;
                border-radius: 100px;
            }
        }
    }
}

/* #CARDS-------------------------------------------- */

.cards-section {
    height: auto;
    width: 100%;
    margin-top: 3vmax;
    padding: 0 5vmax;
    padding-bottom: 3vmax;

    >.heading {
        display: flex;
        align-items: center;

        >.heading-inner {
            display: flex;
            align-items: center;
            margin-left: 20px;
            height: fit-content;
            width: fit-content;
            overflow: hidden;
            border-radius: 100px;
            border: 1.5px solid gray;
            gap: 20px;
            padding-right: 1vmax;
            cursor: pointer;

            >h4 {
                font-weight: 100;
            }

            >h4:nth-child(1) {
                padding: .5vmax 1.5vmax;
                border-radius: 100px;
                background-color: var(--color-primary);
                color: #12d3c3;
            }
        }

    }

    >.cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 30px;
        margin-bottom: 4vmax;

        >div {
            margin-top: 20px;

            >.card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 200px;
                border-radius: 10px;
                cursor: pointer;
                position: relative;
                margin-bottom: 30px;

                >img {
                    height: 290px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }

                >.progress {
                    height: 45px;
                    width: 45px;
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    position: absolute;
                    bottom: -7%;
                    left: 7%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    overflow: hidden;
                    z-index: 9;
                }

                >.progress::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 105%;
                    height: 100%;
                    border: 3px solid rgb(11, 173, 214);
                    box-sizing: border-box;
                    border-bottom: none;
                    border-radius: 50%;
                    z-index: 99;
                }

            }

            >p>.link {
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                color: black;
                transition: all cubic-bezier(0.23, 1, 0.320, 1) .2s;
            }

            >p>.link:hover {
                color: #00a8e0;
            }

            >h5 {
                margin-top: 10px;
                font-weight: 100;
                opacity: .8;
            }
        }
    }


}